# http://editorconfig.org
root = true

[{*.ts,*.js,*.json,*.tsx}]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
max_line_length = 80

[{*.json,.travis.yml}]
indent_style = space
indent_size = 2
